.chatbox-container {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  overflow-y: scroll;
}
.chatbox-container::-webkit-scrollbar {
  width: 0px; /* Adjust the width as needed */
}

.chatbox-container::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide the scrollbar thumb */
}

.chatbox-container::-webkit-scrollbar-track {
  background-color: transparent; /* Hide the scrollbar track */
}
.input-block {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-chatbox-container {
  /* border: 1px solid; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  /* border-radius: 20px; */
  background-image: url(https://firebasestorage.googleapis.com/v0/b/wavechat-daf87.appspot.com/o/abstract-textured-backgound.jpg?alt=media&token=7cf09b9c-5d99-4fec-82ab-1d9e6521693f&_gl=1*fy7b2b*_ga*NDI1Mzk2NzMuMTY5NjQ0MzgzMQ..*_ga_CW55HF8NVT*MTY5Njc3MTMxMS4xNi4xLjE2OTY3NzEzNTUuMTYuMC4w);
}

.input-block input {
  width: 80%;
  height: 50%;
  border: none;
  outline: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 10px;
  font-size: 20px;
  /* border-radius: 10px; */
  /* margin-right: 10px; */
}
.input-block button img {
  width: 3vh;
}
.input-block button {
  border: none;
  background-color: white;
  height: 53%;
  width: 10%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
