.ChatDisplay-container {
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .currentUserMessage {
    background-color: white;
    color: black;
    align-self: flex-end;
    width: fit-content;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 12px; 
  }
  
  .otherUserMessage {
    background-color: #f0f0f0; 
    color: #000; 
    align-self: flex-start;
    width:fit-content;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 12px;
  }