body {
  font-family: 'Lato', sans-serif;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/wavechat-daf87.appspot.com/o/5370420.jpg?alt=media&token=216d4482-1c20-4179-a139-cbbb3417ceca&_gl=1*1e9pxbj*_ga*NDI1Mzk2NzMuMTY5NjQ0MzgzMQ..*_ga_CW55HF8NVT*MTY5NjY4Njk3Mi45LjEuMTY5NjY5MDQ5MS42MC4wLjA.);
    background-size: cover;
    background-repeat: no-repeat;
}

code {
  font-family: 'Open Sans', sans-serif;
}
