.homepage {
  // border: 1px solid;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  width: 100vw;
  max-width: 1134px;
  .navbar {
    .sidebar {
      // border: 1px solid black;
      height: 100px;
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 20px;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex: 0.2;
        // border: 1px solid black;

        img {
          width: 80%;
          cursor: pointer;
        }
      }
      .Menu-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 40px;
        // border: 1px solid black;
        flex: 1;

        svg {
          font-size: 28px;
          cursor: pointer;
        }
      }
      .Profile-details {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        flex: 0.2;
        // border: 1px solid black;

        svg {
          font-size: 28px;
          cursor: pointer;
        }
      }
    }
  }
}
